<select name="airport" id="airport-input" value="DFW">
  <option value="AUS" <%= flight.airport === "AUS" ? "selected": '' %>>AUS</option>
  <option value="DFW" <%= flight.airport === "DFW" ? "selected": '' %>>DFW</option>
  <option value="DEN" <%= flight.airport === "DEN" ? "selected": '' %>>DEN</option>
  <option value="LAX" <%= flight.airport === "LAX" ? "selected": '' %>>LAX</option>
  <option value="SAN" <%= flight.airport === "SAN" ? "selected": '' %>>SAN</option>
</select>