<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>
    <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="post">
      <label for="Airline Input">Airline:</label>
      <input type="text" name="airline" id="airline-input" value="<%= flight.airline %>">
      <label for="Airport Input">Airport:</label>
      <%- include('../partials/airportsEdit.ejs') %> 
      <label for="Flight Number Input">Flight No.:</label>
      <input type="text" name="flightNo" id="flightNo-input" value="<%= flight.flightNo %>">
      <label for="Departure Input">Departure Date/Time:</label>
      <input type="datetime-local" name="departs" id="departure-input">
      <p><%= flight.departs%></p>
      <button type="submit">Edit Flight</button>
    </form>
    <%- include('../partials/footer') %>