<%- include('../partials/html-head') %>

  <%- include('../partials/nav') %>
    <h1>All Flights</h1>
    <a href="/flights/new">Add Flight</a>
    <table>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight No.</th>
          <th>Departure Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach(flight=> { %>
          <tr>
            <td>
              <a href="/flights/<%= flight._id %>">
                <%=flight.airline%>
              </a>
            </td>
            <td>
              <%=flight.airport%>
            </td>
            <td>
              <%=flight.flightNo%>
            </td>
            <td>
              <%=flight.departs%>
            </td>
            <td>
              <form action="/flights/<%= flight._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">Remove Flight</button>
              </form>
            </td>
          </tr>
          <%})%>
      </tbody>
    </table>
    <%- include('../partials/footer') %>