<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <h1>Airline: <%= flight.airline %>
    </h1>
    <h1>Airport: <%= flight.airport %>
    </h1>
    <h1>Flight Number: <%= flight.flightNo %>
    </h1>
    <h2>Departure: <%= flight.departs %>
    </h2>
    <a href="/flights/<%= flight.id %>/edit">Edit</a>
    <h2>Tickets</h2>
    <form id="add-ticket-form" action="/flights/<%=flight._id%>/tickets" method="POST">
      <label for="seatNum">Seat Number: </label>
      <input name="seat" required pattern="[A-F][1-9]\d?">
      <label for="ticket-price">Price: </label>
      <input type="text" name="price" id="ticket-price">
      <button type="submit">Submit</button>
    </form>

    <% if(flight.tickets.length) { %>
      <table>
        <thead>
          <tr>
            <th>Seat Number</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach(function(ticket){ %>
              <tr>
                <td><%= ticket.seat %> </td>
                <td><%= ticket.price %> </td>
              </tr>
            
            <% }) %> 
        </tbody>
      </table>
      <% } else {%>
        <h3>No Tickets Available</h3>
        <% } %>
<section>
        <h2>Meals</h2>
        <ul>
          <% flight.meals.forEach(meal => { %>
            <li><%= meal.name %></li>

          <% }) %>
        </ul>

        <form id="add-meal-to-flight" action="/flights/<%= flight._id%>/meals" method="POST" >
            <select name="mealId">
              <% meals.forEach(function(meal) { %>
                <option value="<%= meal._id %>">
                  <%= meal.name %>
                </option>
              <% }) %>
            </select>
            <button type="submit">Add Meal</button>
            
            </form>
          </section>

    <%- include('../partials/footer') %>