<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

  <h1>Airline: <%= flight.airline %></h1>
  <h1>Airport: <%= flight.airport %></h1>
  <h1>Flight Number: <%= flight.flightNo %></h1>
  <h2>Departure: <%= flight.departs %></h2>
  <a href="/flights/<%= flight.id %>/edit">Edit</a>
  <%- include('../partials/footer') %>